.languageSettingsContainer {
    /* max-width: 85px; */
    width: fit-content;
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
}

.englishBtn:disabled {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/4/42/Flag_of_the_United_Kingdom.png);
}

.ukrainianBtn:disabled {
    background: url(https://content1.rozetka.com.ua/goods/images/big/179341280.jpg);
}

@media (max-width: 1000px){
    .languageSettingsContainer {
        margin: 0 auto;
    }
}

@media (max-width: 1065px) {
    .languageSettingsContainer {
        margin-right: 0;
    }
}

@media (max-width: 820px) {
    .languageSettingsContainer {
        margin: 0 10px 0 0;
        width: fit-content;
    }
}

@media (max-width: 370px) {
    .languageSettingsContainer {
        margin-right: 0;
    }
}