.error {
    max-width: 900px;
    display: flex;
    justify-content: center;
    color: rgba(255, 0, 0, 0.668);
}

.error p {
    position: absolute;
    margin-top: -160px;
    animation: show 10s ease ;
    font-size: 25px;
}

@keyframes show {
    0% {
        transform: translateX(0) translateY(0)
    }
    10% {
        transform: translateX(0) translateY(45px)
    }
   25% {
        transform: translateX(0) translateY(45px)
    }
    50% {
        transform: translateX(0) translateY(45px)
    }
    75% {
        transform: translateX(0) translateY(45px)
    }
    100% {
        transform: translateX(0) translateY(45px)
    }
  }

@media (max-width: 1180px) {
    .error p {
        font-size: 15px;
        font-weight: 600;
        color: red;
        background-color: white;
        padding: 2px;
        text-align: center;
    }
}