.settings {
    display: flex;
    /* max-width: 236px;
    width: 100%; */
    max-width: fit-content;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1065px) {
    .settings {
        flex-direction: column;
        height: 65px;
        max-width: 135px;
    }
}

@media (max-width: 820px) {
    .settings {
        flex-direction: row;
        max-width: fit-content;
    }
}

@media (max-width: 370px) {
    .settings {
        flex-direction: column;
    }
}