.weatherCardContainer {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    /* justify-content: space-between; */
    align-items: center;
    height: fit-content;
    flex-wrap: wrap;
    width: 100vw;
}

@media(max-width: 870px) {
    .weatherCardContainer {
        justify-content: center;
    }
}