.scaleSettings {
    /* width: 134px; */
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.scaleBtn {
    padding: 3px;
    font-size: 14px;
    transition: transform 0.25s ease;
    border-radius: 5px;
    color: white;
    background-color: rgba(255, 255, 255, 0.225);
}

.scaleBtn:active {
    transform: translate(1px, 1px);
    box-shadow: inset 2px 2px 2px black;
}

@media (max-width: 1000px){
    .scaleBtn {
        margin: 0 auto;
    }
}

@media (max-width: 763px) {
    .scaleSettings {
        margin: 0;
        width: fit-content;
    }
}