.header {
    background-color: rgba(0, 174, 255, 0.581);
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 90px;
}

@media (max-width: 1100px) {
    .logo {
        display: none;
    }
    
}