@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

main {
  padding: 40px;
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  display: flex;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

.appWrapper {
  width: 100%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.appWrapperContent {
  position: relative;
  width: 100%;
}

@media (max-width:500px) {
  .backgroundImage {
    width: auto;
  }
}
