@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow-y: hidden;
}

.appWrapper {
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.backgroundImage {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.appWrapperContent {
  position: relative;
  padding: 0 20px;
  width: 100%;
}